<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Generador de memes</title>
</head>
<body>
  <header class="header">
    <img src="../static/img/logo.svg" alt="logo" width="50" height="50">
    <ul class="main-list">
        <li class="list__item">
          <a href="">Página principal</a>
        </li>
        <li class="list__item">
          <a href="">Colección</a>
        </li>
        <li class="list__item">
          <a href="">Comentarios</a>
        </li>
    </ul>
  </header>
  <main>
    {% block content %}
    <div class="form-block">
      <h1>¡Genera tu meme!</h1>
      <form method="POST" action="{{ url_for('index') }}">
        <ul class="form-list">
          <li class="form-list_item">
            <label for="image-selector">Selecciona un meme</label>
            <select name="image-selector" id="image-selector">
              <option value="logo.svg" {% if selected_image == 'logo.svg' %}selected{% endif %}>Selecciona un meme</option>
              <option value="meme_1.jpg" {% if selected_image == 'meme_1.jpg' %}selected{% endif %}>Chica desastre</option>
              <option value="meme_2.jpg" {% if selected_image == 'meme_2.jpg' %}selected{% endif %}>Dos botones</option>
              <!--Asignación #1. Añade nuevos memes aquí -->
              <option value="meme_3.jpg" {% if selected_image == 'meme_3.jpg' %}selected{% endif %}>Calamardo y la tumba</option>
              <option value="meme_4.jpg" {% if selected_image == 'meme_4.jpg' %}selected{% endif %}>Bob Sponge</option>
              <option value="meme_5.jpg" {% if selected_image == 'meme_5.jpg' %}selected{% endif %}>Que harian sin ti</option>
              <option value="meme_6.jpg" {% if selected_image == 'meme_6.jpg' %}selected{% endif %}>No lo entiendes Kick</option>
              <option value="meme_7.jpg" {% if selected_image == 'meme_7.jpg' %}selected{% endif %}>Bro</option>
              <option value="meme_8.jpg" {% if selected_image == 'meme_8.jpg' %}selected{% endif %}>Por que no los dos?</option> 
              <option value="meme_9.jpg" {% if selected_image == 'meme_9.jpg' %}selected{% endif %}>Traiga a ese hombre</option>
              <option value="meme_10.jpg" {% if selected_image == 'meme_10.jpg' %}selected{% endif %}>Omniman</option>
              <option value="meme_11.jpg" {% if selected_image == 'meme_11.jpg' %}selected{% endif %}>Cheems</option>
              <option value="meme_12.jpg" {% if selected_image == 'meme_12.jpg' %}selected{% endif %}>Dr. House like</option>
              <option value="meme_13.jpg" {% if selected_image == 'meme_13.jpg' %}selected{% endif %}>Dr. House face</option>
              <option value="meme_14.jpg" {% if selected_image == 'meme_14.jpg' %}selected{% endif %}>Dr. House...</option>
              <option value="meme_15.jpg" {% if selected_image == 'meme_15.jpg' %}selected{% endif %}>Sip, otro dr. house</option>

            </select>
          </li>
          <li class="form-list_item">
            <label for="textTop">Escriba aquí el texto principal</label>
            <input class="input_text" type="text" placeholder="Top text" name="textTop">
          </li>
          <li class="form-list_item">
            <label for="textBottom">Introduzca aquí el texto inferior</label>
            <input class="input_text" type="text" placeholder="Bottom text" name="textBottom">
          </li>
          <li class="form-list_item">
            <label for="color-selector">Definir el color del texto</label>
            <select name="color-selector" id="color-selector">
              <option value="white" {% if selected_color == 'white' %}selected{% endif %}>Blanco</option>
              <option value="black" {% if selected_color == 'black' %}selected{% endif %}>Negro</option>
              <!--Asignación adicional #1. Añada aquí nuevos colores -->
              <option value="red" {% if selected_color == 'red' %}selected{% endif %}>Rojo</option>
              <option value="green" {% if selected_color == 'green' %}selected{% endif %}>Verde</option>
              <option value="blue" {% if selected_color == 'blue' %}selected{% endif %}>Azul</option>
              <option value="yellow" {% if selected_color == 'yellow' %}selected{% endif %}>Amarillo</option>
              <option value="orange" {% if selected_color == 'orange' %}selected{% endif %}>Naranja</option>
              <option value="purple" {% if selected_color == 'purple' %}selected{% endif %}>Púrpura</option>
            </select>
          </li>
          <li class="form-list_item">
            <label for="textTop_y">Introduzca la posición del texto superior en el eje Y</label>
            <input class="input_text" id="textTop_y" type="text" placeholder="Top text" name="textTop_y">
          </li>
          <li class="form-list_item">
            <label for="textBottom_y">Introducir la posición del texto inferior en el eje Y</label>
            <input class="input_text" id="textBottom_y" type="text" placeholder="Bottom text" name="textBottom_y">
          </li>
          <button type="submit">Genera tu meme</button>
        </ul>
      </form>
    </div>
    <div class="meme-block" id="memeBlock">
      
      <p class="text_top" style="top: {{ text_pos_sub }}%; color: {{ selected_color }}">
        <!-- Asignación #2. Colocación de la variable con el texto -->
         {{ text_top }}
      </p>

      <img class="meme" src="{{ url_for('serve_images', path=selected_image) }}" alt="{{ selected_image }}">

      <p class="text_bottom" style="bottom: {{ text_pos_sup }}%; color: {{ selected_color }}">
        <!-- Asignación #2. Colocación de la variable con el texto -->
         {{ text_bottom }}
      </p>
    </div>
    {% endblock %}
  </main>
  <footer>

  </footer>
</body>
</html>
